body {
  height: 100%;
  background-color: #341496;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
  font-family: Lekton, sans-serif;
  color: hsla(0, 0%, 100%, .8);
  font-size: 1em;
  line-height: 1.75em;
  letter-spacing: 0.05em;
}

.home-wrapper {
  position: absolute;
  left: 5vh;
  top: 5vh;
  right: 5vh;
  bottom: 5vh;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.column-single {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 25%;
  padding-right: 2vw;
  padding-left: 2vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column-single.bottom-align {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.column-single.bottom-padding {
  padding-bottom: 90px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 50px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 17px 15px 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #ff5c4d;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  font-family: Lekton, sans-serif;
  color: #341496;
  text-decoration: none;
}

.btn:hover {
  padding-right: 5px;
}

.btn-text {
  margin-bottom: 0px;
  color: #341496;
  line-height: 16px;
}

.logo {
  width: 100%;
  height: 51px;
  margin-bottom: 20px;
  background-image: url('../images/frontinbh-logo.svg');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.year-img {
  max-height: 360px;
}

.nav-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 215px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 85px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-item {
  display: inline-block;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  font-family: Lekton, sans-serif;
  color: hsla(0, 0%, 100%, .8);
  font-size: 0.85em;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.nav-item:hover {
  color: #ff5c4d;
}

.nav-item.disabled {
  text-decoration: line-through;
}

._6th-container {
  position: static;
  display: block;
  width: 215px;
  height: 65px;
  margin-right: auto;
  margin-bottom: 90px;
  margin-left: auto;
  background-image: url('../images/6th.svg');
  background-position: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav {
  position: relative;
  z-index: 10;
  margin-bottom: 0px;
}

.main-info-wrapper {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  max-width: 215px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.cta-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 215px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.menu-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  max-height: 660px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.year-container {
  display: block;
  max-width: 215px;
  margin-right: auto;
  margin-left: auto;
}

.main-info-text {
  margin-bottom: 0px;
  font-size: 0.85em;
  line-height: 1.5em;
}

.bg-wrapper {
  position: absolute;
  left: 5vh;
  top: 5vh;
  right: 5vh;
  bottom: 5vh;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.speaker-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.speaker-wrapper {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-decoration: none;
}

.speaker-country {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 4px;
  padding-bottom: 3px;
  padding-left: 0.15em;
  border-bottom: 2px solid #fff;
  letter-spacing: 0.25vh;
  text-transform: uppercase;
}

.speaker-name {
  display: block;
  margin-top: 4px;
  margin-bottom: 0px;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  font-family: 'Itcavantgardepro xlt', sans-serif;
  color: #ff5c4d;
  font-size: 6vh;
  line-height: 6vh;
  font-weight: 200;
  letter-spacing: -0.04em;
  text-decoration: none;
}

.speaker-name:hover {
  color: #fff;
}

.speaker-lastname {
  display: block;
  margin-top: 1.5vh;
  margin-bottom: 0px;
  font-family: 'Itcavantgardepro demi', sans-serif;
  line-height: 3vh;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.left-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 200;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.mask-preview {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  width: 0%;
  height: 101%;
  background-color: #5c00d8;
}

.speaker-preview-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url('../images/michael-foto.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.speaker-preview {
  position: absolute;
  left: 5vh;
  top: 5vh;
  right: 50%;
  bottom: 5vh;
  z-index: 1000;
  display: none;
}

.speaker-preview-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url('../images/marina.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.speaker-preview-3 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url('../images/diogo-foto.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.speaker-preview-4 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url('../images/matheus.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-speakers {
  position: absolute;
  left: 5vh;
  top: 5vh;
  right: 5vh;
  bottom: 5vh;
  z-index: 5000;
  display: none;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.speaker-content-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  max-height: 660px;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 5vh;
  padding-left: 5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.title-light {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: 'Itcavantgardepro xlt', sans-serif;
  color: #ff5c4d;
  font-size: 8.5vh;
  line-height: 7.5vh;
  font-weight: 200;
  letter-spacing: -0.06em;
}

.title-bold {
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: 'Itcavantgardepro demi', sans-serif;
  color: #ff5c4d;
  font-size: 8.5vh;
  line-height: 7.5vh;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.speaker-country-detail {
  margin-bottom: 30px;
  padding-left: 5px;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.speaker-occupation {
  margin-bottom: 0px;
  padding-left: 5px;
}

.speaker-description {
  width: 100%;
  max-width: 700px;
  margin-top: 90px;
  margin-bottom: 20px;
}

.speaker-menu {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  max-height: 660px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.year-column-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-height: 660px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-column {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 50%;
  padding-right: 2vw;
  padding-left: 2vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.content-half-column {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
  padding-left: 5vh;
  float: left;
}

.speaker-pic-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url('../images/michael-foto.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.mask-right {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  display: block;
  width: 0%;
  height: 101%;
  background-color: #5c00d8;
}

.mask-left {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  width: 0%;
  height: 101%;
  background-color: #5c00d8;
}

.speaker-pic-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url('../images/marina.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.speaker-pic-3 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url('../images/diogo-foto.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.speaker-pic-4 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url('../images/matheus.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.speaker-content-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  max-height: 660px;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 5vh;
  padding-left: 5vh;
}

.speaker-content-3 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  max-height: 660px;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 5vh;
  padding-left: 5vh;
}

.speaker-content-4 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  max-height: 660px;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 5vh;
  padding-left: 5vh;
}

.btn-back {
  position: absolute;
  left: 0px;
  top: -50px;
  z-index: 5000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  min-height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ff5c4d;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  text-decoration: none;
}

.btn-back:hover {
  padding-left: 5px;
}

.section-about {
  position: absolute;
  left: 5vh;
  top: 5vh;
  right: 5vh;
  bottom: 5vh;
  z-index: 5000;
  display: none;
  overflow: hidden;
}

.about-pic {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url('../images/about.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-content {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  max-height: 660px;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 5vh;
  padding-left: 5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-link {
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  color: #ff5c4d;
  text-decoration: none;
}

.text-link:hover {
  text-decoration: underline;
}

.m-header {
  position: relative;
  z-index: 100;
  margin-bottom: 40px;
  padding: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #ff5c4d;
}

.m-logo-img {
  width: 123px;
  margin-bottom: 30px;
}

.m-header-info {
  padding-right: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.speaker-preview-5 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url('../images/felipe-foto.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.speaker-pic-5 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url('../images/felipe-foto.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.speaker-content-5 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  max-height: 660px;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 5vh;
  padding-left: 5vh;
}

.m-year {
  height: 185px;
}

.m-content-wrapper {
  padding: 40px;
}

.m-content-wrapper.footer {
  position: relative;
  padding-bottom: 100px;
}

.m-title {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: 'Itcavantgardepro xlt', sans-serif;
  color: #ff5c4d;
  font-size: 15vw;
  line-height: 15vw;
  font-weight: 200;
  letter-spacing: -2px;
}

.m-paragraph {
  margin-bottom: 15px;
  font-size: 0.85em;
  line-height: 1.6em;
}

.m-text-link {
  display: inline-block;
  margin-bottom: 15px;
  font-family: Lekton, sans-serif;
  color: #ff5c4d;
  text-decoration: underline;
}

.m-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 20px 14px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #5c00d8;
  font-family: Lekton, sans-serif;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}

.m-speaker-name {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Itcavantgardepro xlt', sans-serif;
  color: #fff;
  font-size: 1.75em;
  line-height: 1.05em;
  font-weight: 200;
  letter-spacing: 0em;
}

.m-last-name {
  font-family: 'Itcavantgardepro demi', sans-serif;
  font-weight: 600;
}

.footer-text-1 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 40px;
  margin-bottom: 0px;
  background-color: #341496;
  text-align: center;
}

.footer-text-2 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 40px;
  margin-bottom: 0px;
  background-color: #341496;
  text-align: center;
}

.btn-container {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #341496;
}

.m-job-title {
  margin-bottom: 0px;
  font-size: 0.85em;
  line-height: 1.5em;
}

.m-text-btn {
  font-family: Lekton, sans-serif;
  color: #ff5c4d;
  font-size: 0.85em;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.m-li {
  margin-bottom: 40px;
}

.m-sponsor-wrapper {
  margin-bottom: 40px;
}

.m-sponsor-gold {
  width: 50%;
  padding-right: 20px;
}

.m-sponsor-partner {
  width: 33.333%;
  padding-right: 20px;
}

.sponsor-gold {
  width: 150px;
}

.sponsor-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.sponsor-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sponsor-partner {
  width: 100px;
}

.section-organizer {
  position: absolute;
  left: 5vh;
  top: 5vh;
  right: 5vh;
  bottom: 5vh;
  z-index: 5000;
  display: none;
  overflow: hidden;
}

.organizer-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 50%;
  height: 50%;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.organizer-container {
  position: relative;
  z-index: 10;
  display: none;
  width: 50%;
}

.organizer-pic {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.organizer-pic.keppelen {
  background-image: url('../images/keppelen.jpg');
}

.organizer-pic.dave {
  background-image: url('../images/davidson-foto.jpg');
}

.organizer-pic.victor {
  background-image: url('../images/victor.jpg');
}

.organizer-pic.magal {
  background-image: url('../images/magal-foto.jpg');
}

.text-btn {
  padding-left: 5px;
  font-family: Lekton, sans-serif;
  color: #ff5c4d;
  font-size: 1em;
  line-height: 1.75em;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.text-btn:hover {
  text-decoration: underline;
}

.mobile-content {
  display: none;
}

@media (max-width: 991px) {
  .m-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .m-title {
    font-size: 12vw;
  }
  .m-sponsor-gold {
    width: 33.333%;
  }
  .m-sponsor-partner {
    width: 16.666%;
  }
  .m-info-text {
    font-size: 0.85em;
    line-height: 1.5em;
  }
  .mobile-content {
    display: block;
  }
  .main-content {
    display: none;
  }
}

@media (max-width: 479px) {
  .m-header {
    position: relative;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    padding: 40px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #ff5c4d;
  }
  .m-logo-img {
    width: 123px;
    margin-bottom: 30px;
  }
  .m-header-info {
    padding-right: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .m-year {
    height: 185px;
  }
  .m-content-wrapper.footer {
    position: relative;
    padding-bottom: 100px;
  }
  .m-title {
    margin-top: 0px;
    margin-bottom: 40px;
    font-family: 'Itcavantgardepro xlt', sans-serif;
    color: #ff5c4d;
    font-size: 15.5vw;
    line-height: 15vw;
    font-weight: 200;
    letter-spacing: -2px;
  }
  .m-paragraph {
    margin-bottom: 15px;
    font-size: 0.85em;
    line-height: 1.6em;
  }
  .m-paragraph.highlight {
    margin-top: 40px;
    color: #ff5c4d;
    font-size: 1em;
    text-transform: none;
  }
  .m-text-link {
    display: inline-block;
    margin-bottom: 15px;
    font-family: Lekton, sans-serif;
    color: #ff5c4d;
    text-decoration: underline;
  }
  .m-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 20px 14px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #5c00d8;
    font-family: Lekton, sans-serif;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
  }
  .m-speaker-name {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Itcavantgardepro xlt', sans-serif;
    color: #fff;
    font-size: 1.75em;
    line-height: 1.05em;
    font-weight: 200;
    letter-spacing: 0em;
  }
  .m-last-name {
    font-family: 'Itcavantgardepro demi', sans-serif;
    font-weight: 600;
  }
  .footer-text-1 {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 40px;
    margin-bottom: 0px;
    background-color: #341496;
    text-align: center;
  }
  .footer-text-2 {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 40px;
    margin-bottom: 0px;
    background-color: #341496;
    text-align: center;
  }
  .btn-container {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #341496;
  }
  .m-job-title {
    margin-bottom: 0px;
    font-size: 0.85em;
    line-height: 1.5em;
  }
  .m-text-btn {
    display: inline-block;
    font-family: Lekton, sans-serif;
    color: #ff5c4d;
    font-size: 0.85em;
    letter-spacing: 0.2em;
    text-decoration: none;
  }
  .m-li {
    margin-bottom: 40px;
  }
  .m-sponsor-wrapper {
    margin-bottom: 40px;
  }
  .m-sponsor-gold {
    width: 50%;
    padding-right: 20px;
  }
  .m-sponsor-partner {
    width: 33.333%;
    padding-right: 20px;
  }
}

@font-face {
  font-family: 'Itc avant garde gothic pro extra';
  src: url('../fonts/ITC-Avant-Garde-Gothic-Pro-Extra-Light.eot') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Itc avant garde gothic pro demi';
  src: url('../fonts/ITC-Avant-Garde-Gothic-Pro-Demi.eot') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Itcavantgardepro demi';
  src: url('../fonts/ITCAvantGardePro-Demi.woff') format('woff'), url('../fonts/ITCAvantGardePro-Demi.ttf') format('truetype'), url('../fonts/ITCAvantGardePro-Demi.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Itcavantgardepro xlt';
  src: url('../fonts/ITCAvantGardePro-XLt.woff') format('woff'), url('../fonts/ITCAvantGardePro-XLt.ttf') format('truetype'), url('../fonts/ITCAvantGardePro-XLt.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}